body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: content-box;
    color: #0b1023;
    font-family: "Comic Neue", cursive;
    background-color: #fff;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.header {
    color: #fff;
    background: #0b1023;
    padding: 20px 50px 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition-duration: .8s;
}




.sectione {
    /*background-color: #fff;*/
    width: 1100px;
    margin: 30px auto;
    transition-duration: .5s;
}
.features {
    height: 850px;
    padding-left: 30px;
    position: relative;
    background-color: rgb(63,63,63);
    border-radius: 0px;
}
.features1 {
    height: 450px;
    padding-left: 30px;
    position: relative;
    background-color: rgb(63,63,63);
    border-radius: 0px;
}
.features-inner {
    position: absolute;
    padding-top: 80px;
    padding-right: 300px;
    width: 670px;
    font-size: 27px;
}
.fitem_wrap {
    position: absolute;
    width: 370px;
    color: transparent;
    left: -200px;
    transition-duration: 1.2s;
}

.ftitle, .subftitle {
    letter-spacing: 10px;
  color: #f3b50b;
  margin: 0;
}
.ftitle span {
    font-family: "Kaushan Script", cursive;
    font-weight: 700;
    color: #d5b45b;
}
.fitem {
    z-index: 0;
    margin-top: 80px;
    text-align: center;
}
.fitem a {
    text-decoration: none;
    color: transparent;
    font-weight: 700;
    transition-duration: 1.2s;
}
.fitem_active {
    display: block;
    z-index: 1;
    color: red;
    left: 0px;
    transition-delay: .5s;
    transition-duration: 1.2s;
}
.fitem_active a {
    color: #0b1023;
    transition-delay: .5s;
    transition-duration: 1.2s;
}
.fitem_active a:hover {
    text-decoration: underline;
}
.fitem_out {
    left: 200px;
    color: transparent;
    transition-duration: 1.2s;
}
.fitem_out a {
    color: transparent;
    transition-duration: 1.2s;
}
.navrap {
    width: 99px;
    height: 23px;
    position: absolute;
    top: 450px;
    margin-left: 120px;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navi {
    display: inline-block;
    margin: 0 1.5px;
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 100px;
    transition-duration: .5s;
}
.navi:hover {
    background: #aaa;
    transition-duration: .2s;
}
.navi_active {
    margin: 0;
    width: 23px;
    height: 23px;
    background: #aaa;
    transition-duration: .5s;
}
.img {
    position: absolute;
    opacity: 0;
    transform: rotateY(90deg);
    transition-duration: .8s;
}
.img_active {
    transform: rotateY(0deg);
    opacity: 1;
    transition-timing-function: ease-in;
    transition-delay: .8s;
    transition-duration: .8s;
}
.house {
    width: 400px;
    padding: 120px 0 90px 0;
    right: 50px;
    transition-duration: .3s;
}
.travel {
    height: 400px;
    margin-top: 50px;
    right: 0px;
    transition-duration: .3s;
}
.business {
    width: 400px;
    right: 50px;
    padding: 100px 0;
    transition-duration: .3s;
}

.stuffs {
    margin-top: 30px;
    display: flex;
}
.stuffs_item {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}
.title {
    font-size: 35px;
    display: inline;
}
.exchange {
    width: 500px;
}
.rate {
    font-family: "Comic Neue", cursive;
    display: block;
}
.rate th, .rate td {
    padding: 8px 35px;
}
.rate th:first-child, .rate td:first-child {
    padding-left: 10px;
}
.rate th {
    color: #0b1023bc;
    margin: 10px 0;
    font-size: 18px;
    text-align: left;
}
.rate td {
    font-size: 20px;
}
.convert {
    margin-top: 30px;
    display: block;
    position: relative;
    font-size: 20px;
}
.process {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.input {
    font-size: 20px;
    border-radius: 5px;
    width: 160px;
    padding: 5px;
    outline: none;
    background-color: #ccc9;
}
.btn {
    position: absolute;
    font-size: 18px;
    font-family: inherit;
    font-weight: 700;
    padding: 10px 15px;
    background-color: #ccf;
    border-radius: 50px;
    bottom: 50px;
    left: 50px;
    outline: none;
}
.result:before {
    position: absolute;
    content: 'AZN';
    display: block;
    top: 120px;
    left: 70px;
    outline: none;
}
.result li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc6;
    width: 200px;
    height: 35px;
    margin: 15px 0;
    padding: 3px 10px;
    border-radius: 10px;
    cursor: default;
}
.result li:before {
    content: "\21D4";
    padding-right: 10px;
    padding-bottom: 8px;
    width: 10px;
}
.cor {
    margin-right: 0px;
    padding-top: 3px;
    align-self: start;
    display: inline-block;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
    background-color: #ededed;
    z-index: 10;
}

.cor:hover {
    overflow: visible;
}
.cur {
    display: inline-block;
    text-align: right;
    z-index: 2;
}
.cur_hover {
    color: transparent;
}
.news {
    display: inline-block;
    margin-left: 30px;
}
.log {
    margin-top: 20px;
    font-size: 22px;
}
.log p {
    padding: 30px;
}

.footer {
    background: rgb(210, 6, 0);
    color: #eeee;
}
.contact {
    padding: 10px;
    font-size: 24px;
    display: inline-block;
}
.footer span {
    padding: 0px 15px;
    display: inline-block;
    border-right: 1px solid;
}
#ad { border: none; }
.footer a {
    padding: 0;
    margin: 0;
    color: #eeee;
    text-decoration: none;
    font-size: 16px;
}
.footer span:after {
    content: "";
    background: #cccd;
    width: 0;
    height: 2px;
    display: block;
    transition-duration: .3s;
}
#al:hover:after { width: 174px; }
#ru:hover:after { width: 164px; }
#ad:hover:after { width: 190px; }
.footer span:hover:after { transition-duration: .8s; }
