body {
  margin: 0;
  background: rgb(210, 6, 0);
}
header {
  background: #ffcc0000;
  text-align: center;
}
header a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: 0.3s ease-in-out;
}
.logo {
  color: #d5b45b;
  font-family: cursive;
  font-size: 2.5em;
  padding: 20px 0;
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  width: 33%;
  float: left;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #d5b45b;
  padding: 15px 30px;
}
.topmenu li a:hover {
  color: #d5b45b;
}
.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #273037;
  position: absolute;
  left: 25%;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.submenu li:last-child a {
  border-bottom: none;
}
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

a {
  font-family: cursive;
}

p {
  text-align: center;
}

.image-fr {
  float: right; 
  margin-right: 10px;
}


.product-grid{
  font-family: 'Roboto', sans-serif;
  position: relative;
}
.product-grid .product-image{
  overflow: hidden;
  position: relative;
}
.product-grid .product-image:before{
  content: "";
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.4s ease-out 0s;
}
.product-grid:hover .product-image:before{ opacity: 1; }
.product-grid .product-image a{ display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-image .pic-1{
  opacity: 1;
  backface-visibility: hidden;
  transition: all 0.4s ease-out 0s;
}
.product-grid:hover .product-image .pic-1{ opacity: 0; }
.product-image .pic-2{
  width: 100%;
  height: 100%;
  opacity: 0;
  backface-visibility: hidden;
  transform: scale(3);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s ease-out 0s;
}
.product-grid:hover .product-image .pic-2 {
  opacity: 1;
  transform: scale(1);
}
.product-image .product-trend-label,
.product-image .product-discount-label{
  content: "";
  color: #fff;
  background-color: #2ecc71;
  font-size: 12px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0 7px;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 3;
}
.product-image .product-discount-label{
  background-color: #e74c3c;;
  left: auto;
  right: 12px;
}
.product-grid .social {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 4;
}
.product-grid .social li {
  margin: 0 0 12px;
  opacity: 0;
  transform: translateX(-60px);
  transition: transform .3s ease-out 0s;
}
.product-grid:hover .social li {
  opacity: 1;
  transform: translateX(0);
}
.product-grid:hover .social li:nth-child(2){ transition-delay: 0.1s; }
.product-grid:hover .social li:nth-child(3){ transition-delay: 0.2s; }
.product-grid:hover .social li:nth-child(4){ transition-delay: 0.3s; }
.product-grid .social li a {
  color: #fff;
  font-size: 22px;
  transition: all 0.3s;
}
.product-grid .social li a:hover { color: #e74c3c;; }
.product-grid .social li a:before,
.product-grid .social li a:after{
  content: attr(data-tip);
  color: #000;
  background: #fff;
  font-size: 14px;
  padding: 5px 10px;
  white-space: nowrap;
  display: none;
  transform: translateY(-50%);
  position: absolute;
  left: 33px;
  top: 50%;
  transition: all 0.3s;
}
.product-grid .social li a:after{
  content: '';
  background: linear-gradient(-45deg, #fff 49%, transparent 50%);
  width: 10px;
  height: 10px;
  top: 40%;
  left: 20px;
}
.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after{
    display: block;
}
.product-grid .product-content{ padding: 12px 0; }
.product-grid .title{
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.product-grid .title a{ color: #d5b45b; 
  font-size: 20px;}
.product-grid .title a:hover{ color: #e74c3c;; }
.product-grid .price{
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.product-grid .price span{
  color: #333;
  text-decoration: line-through;
  margin-right: 3px;
}
.product-grid .price.discount{ color: #e74c3c;; }
@media only screen and (max-width:990px){
  .product-grid{ margin-bottom: 30px; }
}





#menuVertical {
  width: 100%;
  height: auto;
}
#menuVertical ul {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  left: 25%;
  top: 100%;
  
  z-index: 5;
  width: 180px;
}

#menuVertical ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 13px;
  color: #fbf7f7;
  line-height: 1.2em;
  padding: 10px 15px;
  background: #273037;
  border-top: 1px solid #273037;
  text-decoration: none;
}

#menuVertical ul li a:hover,
#menuVertical ul li:hover  {
  background: #273037;
  color: #d5b45b;
}
#menuVertical ul li ul {
  position: absolute;
  top: 0px;
  left: 100%;
  display: none;
  width: 150px;
}

#menuVertical ul li:hover > ul {
  display: block;
}
#menuVertical ul li ul li a {
  text-transform: none;
  padding: 5px 20px;
  
}
